.profile {
    padding-top: 20px;

    .profile-picture {
        position: absolute;
        top: 0;
        left: 20px;
        text-align: center;

        img {
            display: block;
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .upload-placehoder {
            width: 50px;
            height: 50px;
            padding: 5px;
            border: 1px solid #808080;
            border-radius: 50%;
            line-height: 18px;
            font-size: 12px;
        }

    }

    .instructions {
        min-height: 60px;
        padding: 10px 20px 20px 90px;
        font-size: 14px;
        color: gray;
    }

    .profile-name {
        margin-top: 20px;
    }
}
