<ion-modal-view ng-controller="NewChatCtrl as chat">
    <ion-header-bar>
        <h1 class="title">New chat</h1>
        <div class="buttons">
            <button
                class="button button-clear button-positive"
                ng-click="chat.hideNewChatModal()"
            >
                Cancel
            </button>
        </div>
    </ion-header-bar>

    <ion-content>
    	<div class="list">
            <a
                ng-repeat="user in chat.users"
                ng-click="chat.newChat(user._id)"
                class="item"
            >
                <h2>{{ user.profile.name }}</h2>
                <p>Hey there, I'm using this</p>
            </a>
        </div>
    </ion-content>
</ion-modal-view>
